<div class="text-center">
    <h3>{{viewTitle}}</h3>
    <hr>
</div>
<form action="/applicant" method="POST" autocomplete="off">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Name"  value="{{applicant.Name}}">
        <div class="text-danger">  {{applicant.NameError}}</div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email" value="{{applicant.email}}">
        <div class="text-danger">  {{applicant.emailError}}</div>
    </div>
   
    <div class="form-group">
        <label>Link to Resume/Portfolio</label>
        <input type="text" class="form-control" name="resLink" placeholder="Link" value="{{applicant.resLink}}">
        <div class="text-danger">  {{applicant.resLinkError}}</div>
    </div>
    <div class="form-group">
        <label>Position Applied For:</label>
        <input type="text" class="form-control" name="posApplied" placeholder="Position" value="{{applicant.posApplied}}">
        <div class="text-danger">  {{applicant.posAppliedError}}</div>
    </div>
    
     <div class="form-group">
        <label>Highest Qualification</label>
        <input type="text" class="form-control" name="highQual" placeholder="Qualification" value="{{applicant.highQual}}">
        <div class="text-danger">  {{applicant.highQualError}}</div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-info">Apply</button>
       <a class="btn btn-secondary" href="/applicant/list">View All</a>
    </div>
</form>